@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-kiit-green: #00823b;
  --color-kiit-blue: #1e3a8a;
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-gray-50;
  }
}

html {
  scroll-behavior: smooth;
}
